{% extends "base.html" %}
{% block content %}
    <form name="post" action="" method="post" enctype="multipart/form-data">
        <table class="postForm" id="postForm" style="display: table;">
            <tbody>
            <tr data-type="Password">
                <td>Password</td>
                <td><input name="password" tabindex="3" type="password"><input value="Log in" tabindex="6"
                                                                               type="submit"></td>
            </tr>
            </tbody>
        </table>
    </form>
{% endblock %}